html{
    scroll-behavior: smooth;
    background-color: #f8f9fa!important;
}

/*------NAVBAR------*/

#home_nav{
    width: 100%;
}

#home_nav a{
    color:burlywood;
    font-family: monospace;
}

#logo{
    font-size: xx-large;
    font-family: Cursive;
}

/*------BANNER------*/

#banner{
    width:100%;
    height:100vh; /*sized to 100% of viewport (new terminology)*/
    background:url(../resources/IMG_E5203.JPG);
    background-size:cover;
    margin-top: 100px;
}

/*------DECK CSS------*/

.card-deck-wrapper{
    height:100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

#question{
    color:burlywood;
    margin-left: 5%;
    margin-right: 5%;
}

#answer {
    color:MediumAquaMarine;
    margin-left: 5%;
    margin-right: 5%;

}



.card{
    min-width: 250px;
    max-width: 500px;
    max-height: 250px;
}

/*------QUIZ QUESTIONS------*/

#choice1{
    background-color: #f8f9fa!important;
    display: none;
}
#choice2{
    background-color: #f8f9fa!important;
    display: none;
}
#choice3{
    background-color: #f8f9fa!important;
    display: none;
}
#choice4{
    background-color: #f8f9fa!important;
    display: none;
}

#ans_background{
    min-width: 500px;
}

/*------TEXTBOX------*/

.textbox{
    border: #CCCCAA thin solid;
    border-radius:50px;
    padding: 12px 20px;
    height: 75vh;
    background: rgba(34, 34, 34, 0.829);
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.textbox p{
    color: white;
    margin-top: 10px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
}

.textbox h1{
    color: white;
    margin-top: 50px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

/*------CONTACTFORM------*/
.contactform{
   width: 400px;
   background: transparent;
   border: none;
   outline: none;
   border-bottom: 1px solid rgb(202, 202, 202);
   color: #f8f9fa;
   font-family: "Times New Roman", Times, serif;
   font-size: 18px;
}


/*------FOOTER------*/

footer{
    background-color: #f8f9fa!important;
    margin: 0;
}

#copyright{
    color:burlywood;
    font-family: monospace;
    font-size: xx-large;
}
