<!DOCTYPE html>
<html>
    <style>
    </style>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>About Us</title>
            <link rel='icon' href='../views/resources/petname.ico' type='image/x-icon'/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>      
        <link href="css/projectCSS.css" rel="stylesheet">
    </head>
    <body>
        <!-- NAVBAR -->
        <div class="nav-area">
            <nav id="home_nav" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a id="logo" class="navbar-brand" href="#">Pet Name Generator</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link px-3" href="homepage.html">Home</a>
                            </li>
                            <li class="nav-item px-3">
                                <a class="nav-link" href="about_us.html">About Us</a>
                            </li>
                            <li class="nav-item px-3">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="banner-div">
            <!-- CONTAINER -->
            <div class="textbox" style="width: 600px">
                 <!-- CONTAINER HEADING -->
                <h1>About Us</h1>
                <br>
                <!-- CONTAINER DESCRIPTION -->
                <p>
                        This application will exist to help website users in the selection process of a pet name. 
                        By combining multiple lists of pre-existing pet names, the user will be able to answer questions to a short quiz to help the random generator deploy more accurate name suggestions. 
                        The application will handle the parsing out of these lists depending on user input to quiz questions. These questions will range from things like pet gender to pet behavior. 
                        The final result of the application should be a small list of 1-5 unique names based on one's questions in the quiz. Therefore this application will provide some resolve to users who are indecisive when it comes to naming their pets. 
                        This application can also be used for more than naming real-life pets, it can also be used in creative writing projects or for virtual companions in RPG-like settings. 
                </p>
            </div>
        </div>
    </body>
    <footer class="bg-light">
        <div id="copyright" class="text-center">
            © 2021 Copyright: The Companions
        </div>
    </footer> 
</html> 